<h1>Alice Chin</h1>
<!-- <img src="Desktop/RailsDecal/fa16-hw2/app/assets/images/picture1.jpg"/> -->
<img src="/assets/pic.jpg" width="400">

<p><span style="background-color: #4CC552; color: white;">
	San Leandro, CA <br />
	Second Year <br />
</span></p>

<p style="color:red;"> 
<b>I was once curious george for a children's carnival</b>
</p>

<p style="color: #6495ED;"> 
<u>I'm excited to make a functional website!</u>
</p>

